<head>
    <title>
        {{pageTitle}}
    </title>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <script src="/js/bootstrap.js"></script>
</head>